.logo {
  width: 100px;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-around;
  background-color: #1F2937;
  padding: 1em;
}

body {
  margin: 0;
}

.header_links {
  display: flex;
  gap: 25px;
  font-size: 18px;
}

.header_links a {
  color: #E5E7EB;
  text-decoration: none;
}

.top_img {
  width: 300px;
  height: 200px;
  border-radius: 10px;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10em;
  background-color: #1F2937;
  color: white;
}

.top_left p {
  max-width: 400px;
}

.top_left h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
  max-width: 400px;
}

.top_left button {
  margin-bottom: 75px;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #3882F6;
  border: none;
  color: white;
}

.mid1_img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.mid1_header {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  margin-top: 50px;
}


.mid1_imgs {
  display: flex;
  justify-content: center;
  gap: 5em;
}

.mid1_imgs p{
  text-align: center;
}

.mid1 {
  margin-bottom: 75px;
}

.mid2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  margin-bottom: 75px;
  background-color: #E5E7EB;
}

#quote_name {
  font-size: 36px;
}

.bot {
  display: flex;
  justify-content: center;
  gap: 70px;
  background-color: #3882F6;
  align-items: center;
  flex-grow: 0;
  margin-bottom: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  border-radius: 10px;
}

.bot button {
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #3882F6;
  color: white;
  border-color: white;
}

.all_bot {
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #1F2937;
  padding: 12px;
  font-size: 15px;
  color: white;
}
